.login-register {
  .send-email-panel {
    display: flex;
    flex-direction: row;
    .send-email-btn {
      margin-left: 5px;
    }
  }

  .rememberme-panel {
    width: 100%;
  }

  .no-account {
    width: 100%;
    display: flex;
    justify-content: space-between;

  }

  .op-btn {
    width: 100%;
  }
}

.check-code-panel {
  display: flex;
  justify-content: space-around;

  .check-code {
    margin-left: 5px;
    cursor: pointer;
  }
}